@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

:root {
  font-family: var(--font-sans);
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply bg-zinc-50 text-zinc-900 dark:bg-black dark:text-zinc-100 transition-colors duration-300;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
